#clockDiv {
    text-align: center;
}

#city {
    padding-left: 12px;
    font-size: 38px;
    font-family: "나눔스퀘어 Bold";
    color: #5699d2;
}

#temperature {
    margin-top: 20px;
    padding-left: 8px;
    font-size: 75px;
    font-family: "나눔스퀘어 Light";
    color: #444;
}

#inside {
    margin-top: 20px;
    padding-left: 8px;
    font-size: 20px;
    font-family: "나눔스퀘어 Bold";
    color: #555;
}

#insideTemperature {
    margin-top: 20px;
    padding-left: 8px;
    font-size: 25px;
    font-family: "나눔스퀘어 Light";
    color: #888;
}

#do {
    margin-top: 20px;
    font-size: 50px;
    font-family: "나눔스퀘어 ExtraBold";
    color: #444;
}

#insideDo {
    margin-top: 20px;
    font-size: 25px;
    font-family: "나눔스퀘어 ExtraBold";
    color: #888;
}

#amPm {
    font-size: 60px;
    font-family: "나눔스퀘어 ExtraBold";
    color: #5699d2;
}

#time {
    font-size: 90px;
    font-family: "나눔스퀘어 ExtraBold";
}

#day {
    padding-left: 23px;
    font-size: 43px;
    font-family: "나눔스퀘어 Light";
}

#year {
    padding-left: 23px;
    font-size: 43px;
    font-family: "나눔스퀘어 ExtraBold";
}

.dateBold {
    padding-left: 23px;
    font-size: 43px;
    font-family: "나눔스퀘어 ExtraBold";
}
.identity {
    font-size: 36px;
    font-family: "나눔스퀘어 Light";
    color: #eee7d8;
}
img {
    width: 130;
    height: 130;
    margin-top: -18px;
    margin-right: 10px;
}